body {
    background-color: #1e1e1e;
}

img {
    display: block;
    margin: 50px auto 25px auto;
    /*top right bottom left*/
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

select {
    background-color: #27156a;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 150px;
}

select:hover {
    background-color: #f57c1e;
}

button {
    background-color: #27156a;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 100px;
    width: 200px;
}

button:hover {
    background-color: #39258a;
}

p,
h1,
h3,
h4,
a,
button {
    color: #FFFFFF;
    display: block;
    font-family: 'Heebo';
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

a {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}

a:hover {
    color: #05d6dd;
    text-decoration: none;
}

#rainbow {
    text-align: right;
    font-family: 'Dokdo', cursive;
    font-size: 32px;
    animation: colorRotate 6s linear 0s infinite;
}

#rainbow:hover{
    animation: colorRotate 0.5s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }

    10% {
        color: #0099ff;
    }

    50% {
        color: #00ff00;
    }

    75% {
        color: #ff3399;
    }

    100% {
        color: #6666ff;
    }
}